In [1]:
import pandas as pd
import numpy as np

In [3]:
data_frame = pd.read_csv('Student.csv')
data_frame.head()

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN

In [5]:
data_frame.drop(columns = 'Name', inplace = True)

In [75]:
data_frame.isna().sum()

Age                       0
Gender                    0
Admission Test Score      0
High School Percentage    0
City                      0
Admission Status          0
dtype: int64

In [9]:
data_frame['Gender'] = data_frame['Gender'].fillna('Prefer Not to Mention')
data_frame['City'] = data_frame['City'].fillna('Other')
data_frame['Admission Status'] = data_frame['Admission Status'].fillna('No Answer was submitted')

In [61]:
Q1 = data_frame['High School Percentage'].quantile(0.25)
Q3 = data_frame['High School Percentage'].quantile(0.75)

In [63]:
IQR = Q3 - Q1
print(f"Q1: {Q1} , Q3: {Q3}, IQR: {IQR}")

Q1: 65.0525 , Q3: 88.3125, IQR: 23.260000000000005

In [65]:
lower_boundary = Q1 - 1.5 * IQR
upper_boundary = Q3 + 1.5 * IQR
print(f"Upper boundary: {upper_boundary}, Lower boundary: {lower_boundary}")

Upper boundary: 123.20250000000001, Lower boundary: 30.162499999999987

In [67]:
outliers = data_frame['High School Percentage'][(data_frame['High School Percentage'] < lower_boundary) | (data_frame['High School Percentage'] > upper_boundary) ].tolist()
if outliers:
    print(f"Outliers: {outliers}")
else :
    print("No Outliers found")

Outliers: [-10.0, 0.0]

In [69]:
median = data_frame['High School Percentage'].median()

In [71]:
data_frame['High School Percentage'] = data_frame['High School Percentage'].apply(lambda x: median if x < lower_boundary or x > upper_boundary else x)

In [73]:
data_frame['High School Percentage'] = data_frame['High School Percentage'].fillna(median)

In [77]:
data_frame.to_csv('Cleaned.csv', index=False)